@tailwind base;
@tailwind components;
@tailwind utilities;


@media (prefers-color-scheme: dark) {

}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  header {
    color: #2f855a; 
    font-size: 1.25rem;  
    padding:  1rem; 
  }
}

header {
  color: 'green-700'; 
  font-size: lg; 
  padding: 2; 
  md: p-5
}